<main class="page__main">
    <h1 class="title">El juego de las parejas</h1>
    <fieldset>
        <legend>Número de tarjetas</legend>
        <label for="4">4</label>
        <input class="input__card" type="radio" name="4" id="4">
        <label for="6">6</label>
        <input class="input__card" type="radio" name="6" id="6">
        <label for="8">8</label>
        <input class="input__card" type="radio" name="8" id="8">
    </fieldset>
    <button class="btn__start">Comenzar</button>
    <ul class="cards__list"></ul>
</main>