<main class="page__main">
    <p>Choose the size of the game</p>
    <div class="radio__input">
        <label for="4">4 cards</label>
        <input class="input__card" type="radio" name="4" id="4">
        <label for="6">6 cards</label>
        <input class="input__card" type="radio" name="6" id="6">
        <label for="8">8 cards</label>
        <input class="input__card" type="radio" name="8" id="8">
    </div>
    <button class="btn__start">Start</button>
    <ul class="cards__list"></ul>
</main>