*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    @include gridContainer(grid, 100vw, 175px 1fr 50px, 'header' 'main' 'footer');
    @include gridBoxAlignment(center, center);
    height: 100vh;
    overflow: hidden;
    font-family: $fontContent;
}

