*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

img{
    @include widthAndHeight(100px, 100px);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 25px 2px #5253534d;
    cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}