.page__main{
    width: 100%;
   
}

.show{
    @include widthAndHeight(100px, 100px);
    background-color: $whiteVanillite;
    border-radius: 50%;
    box-shadow: 0 2px 25px 2px $grayMinccino;
    cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}

.hide{
    display: none;
}

.radio__input{
    display: block;
}

.btn__start{
    display: block;
}

.cards__list{
    display: flex;
}