@mixin widthAndHeight($width, $height) {
    width: $width;
    height: $height;
}

@mixin flexAlignment($justify-content, $align-items, $flex-direction) {
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}