//Font Family
$fontTitle: 'Permanent Marker', cursive;
$fontContent: 'Hammersmith One', sans-serif;
$fontAlt: 'Allerta Stencil', sans-serif;

//Font Size
$fontSizeXS: 16px;
$fontSizeS: 18px;
$fontSizeM: 24px;
$fontSizeL: 32px;

//Font Weight
$fontWeightS:300;
$fontWeightM:400;

//Colors
$whiteVanillite: #ffffff;
$grayMinccino: #5253534d;
$blackUmbreon: #000000;
$magentaDitto: #f53886;