//Font Family
$fontTitle: 'Permanent Marker', cursive;
$fontAlternative: 'Bungee Shade', cursive;
$fontContent: 'Montserrat', sans-serif;

//Font Size
$defaultFontSize: 16;
$fontSizeS:rem(18);
$fontSizeM:rem(24);
$fontSizeL:rem(32);

//Font Weight
$fontWeightS:300;
$fontWeightM:400;

//Colors
$whiteVanillite: #ffffff;
$grayMinccino: #5253534d;